USE [master]
GO
/****** Object:  Database [BANTRASUA2]    Script Date: 3/11/2023 11:32:06 PM ******/
CREATE DATABASE [BANTRASUA2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BANTRASUA2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BANTRASUA2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BANTRASUA2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BANTRASUA2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BANTRASUA2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BANTRASUA2]
GO
/****** Object:  Table [dbo].[BAN]    Script Date: 3/11/2023 11:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAN](
	[ID_BAN] [int] IDENTITY(1,1) NOT NULL,
	[TEN_BAN] [nvarchar](50) NOT NULL,
	[NGAY_TAO] [date] NULL,
	[TRANG_THAI] [bit] NULL,
 CONSTRAINT [PK_BAN] PRIMARY KEY CLUSTERED 
(
	[ID_BAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTBAN]    Script Date: 3/11/2023 11:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTBAN](
	[ID_BAN] [int] NOT NULL,
	[SO_HOA_DON] [int] NOT NULL,
 CONSTRAINT [PK_CT_BAN] PRIMARY KEY CLUSTERED 
(
	[ID_BAN] ASC,
	[SO_HOA_DON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTHOADON]    Script Date: 3/11/2023 11:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHOADON](
	[SO_HOA_DON] [int] NOT NULL,
	[ID_SIZE] [int] NOT NULL,
	[ID_SP] [int] NOT NULL,
	[SO_LUONG] [int] NOT NULL,
	[GIA] [money] NOT NULL,
 CONSTRAINT [PK_CTHOADON] PRIMARY KEY CLUSTERED 
(
	[SO_HOA_DON] ASC,
	[ID_SIZE] ASC,
	[ID_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTSP]    Script Date: 3/11/2023 11:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTSP](
	[ID_SP] [int] NOT NULL,
	[ID_SIZE] [int] NOT NULL,
	[GIA] [money] NOT NULL,
 CONSTRAINT [PK_CTSP] PRIMARY KEY CLUSTERED 
(
	[ID_SP] ASC,
	[ID_SIZE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 3/11/2023 11:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[SO_HOA_DON] [int] IDENTITY(1,1) NOT NULL,
	[HINH_THUC_TT] [nvarchar](50) NULL,
	[NGAY_LAP] [datetime] NULL,
	[THANH_TIEN] [float] NOT NULL,
	[ID_KM] [int] NULL,
	[MA_NV] [varchar](20) NOT NULL,
	[ID_KH] [int] NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[SO_HOA_DON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 3/11/2023 11:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[ID_KH] [int] IDENTITY(1,1) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[SDT] [varchar](10) NULL,
	[NGAY_SINH] [date] NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[ID_KH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUYENMAI]    Script Date: 3/11/2023 11:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYENMAI](
	[ID_KM] [int] IDENTITY(1,1) NOT NULL,
	[NGAY_AP_DUNG] [date] NOT NULL,
	[NGAY_KET_THUC] [date] NOT NULL,
	[PHAN_TRAM_KM] [int] NOT NULL,
	[LI_DO_KM] [nvarchar](500) NULL,
 CONSTRAINT [PK_KHUYENMAI] PRIMARY KEY CLUSTERED 
(
	[ID_KM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAISP]    Script Date: 3/11/2023 11:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISP](
	[ID_LOAI_SP] [int] IDENTITY(1,1) NOT NULL,
	[TEN_LOAI_SP] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LOÁIP] PRIMARY KEY CLUSTERED 
(
	[ID_LOAI_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 3/11/2023 11:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MA_NV] [varchar](20) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[SDT] [varchar](10) NULL,
	[DIA_CHI] [nvarchar](100) NULL,
	[GIOI_TINH] [nvarchar](10) NULL,
	[TEN_TAI_KHOAN] [varchar](20) NOT NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MA_NV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUYEN]    Script Date: 3/11/2023 11:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUYEN](
	[ID_QUYEN] [int] IDENTITY(1,1) NOT NULL,
	[TEN_QUYEN] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_QUYEN] PRIMARY KEY CLUSTERED 
(
	[ID_QUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 3/11/2023 11:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[ID_SP] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](50) NOT NULL,
	[DON_VI_TINH] [nvarchar](50) NULL,
	[ANH] [varchar](100) NULL,
	[MO_TA] [nvarchar](500) NULL,
	[ID_LOAI_SP] [int] NOT NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[ID_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIZE]    Script Date: 3/11/2023 11:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIZE](
	[ID_SIZE] [int] IDENTITY(1,1) NOT NULL,
	[TEN_SIZE] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_SIZE] PRIMARY KEY CLUSTERED 
(
	[ID_SIZE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 3/11/2023 11:32:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TEN_TAI_KHOAN] [varchar](20) NOT NULL,
	[MAT_KHAU] [varchar](50) NOT NULL,
	[TRANG_THAI] [bit] NULL,
	[ID_QUYEN] [int] NOT NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[TEN_TAI_KHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BAN] ON 

INSERT [dbo].[BAN] ([ID_BAN], [TEN_BAN], [NGAY_TAO], [TRANG_THAI]) VALUES (1, N'BÀN 1', NULL, 1)
INSERT [dbo].[BAN] ([ID_BAN], [TEN_BAN], [NGAY_TAO], [TRANG_THAI]) VALUES (2, N'BÀN 2', NULL, 1)
INSERT [dbo].[BAN] ([ID_BAN], [TEN_BAN], [NGAY_TAO], [TRANG_THAI]) VALUES (3, N'BÀN 3', CAST(N'2023-03-11' AS Date), 0)
SET IDENTITY_INSERT [dbo].[BAN] OFF
GO
INSERT [dbo].[CTBAN] ([ID_BAN], [SO_HOA_DON]) VALUES (1, 1)
INSERT [dbo].[CTBAN] ([ID_BAN], [SO_HOA_DON]) VALUES (2, 1)
INSERT [dbo].[CTBAN] ([ID_BAN], [SO_HOA_DON]) VALUES (5, 3)
GO
INSERT [dbo].[CTHOADON] ([SO_HOA_DON], [ID_SIZE], [ID_SP], [SO_LUONG], [GIA]) VALUES (1, 1, 6, 2, 18000.0000)
INSERT [dbo].[CTHOADON] ([SO_HOA_DON], [ID_SIZE], [ID_SP], [SO_LUONG], [GIA]) VALUES (1, 1, 12, 3, 26000.0000)
INSERT [dbo].[CTHOADON] ([SO_HOA_DON], [ID_SIZE], [ID_SP], [SO_LUONG], [GIA]) VALUES (1, 2, 4, 2, 20000.0000)
GO
INSERT [dbo].[CTSP] ([ID_SP], [ID_SIZE], [GIA]) VALUES (1, 1, 18000.0000)
INSERT [dbo].[CTSP] ([ID_SP], [ID_SIZE], [GIA]) VALUES (1, 2, 25000.0000)
INSERT [dbo].[CTSP] ([ID_SP], [ID_SIZE], [GIA]) VALUES (1, 3, 32000.0000)
GO
SET IDENTITY_INSERT [dbo].[HOADON] ON 

INSERT [dbo].[HOADON] ([SO_HOA_DON], [HINH_THUC_TT], [NGAY_LAP], [THANH_TIEN], [ID_KM], [MA_NV], [ID_KH]) VALUES (1, N'Tiền mặt', CAST(N'2023-03-11T23:17:54.690' AS DateTime), 154000, NULL, N'NV01', NULL)
INSERT [dbo].[HOADON] ([SO_HOA_DON], [HINH_THUC_TT], [NGAY_LAP], [THANH_TIEN], [ID_KM], [MA_NV], [ID_KH]) VALUES (2, N'Tiền mặt', CAST(N'2023-03-11T23:23:29.397' AS DateTime), 53250, 1, N'NV03', NULL)
INSERT [dbo].[HOADON] ([SO_HOA_DON], [HINH_THUC_TT], [NGAY_LAP], [THANH_TIEN], [ID_KM], [MA_NV], [ID_KH]) VALUES (3, N'Chuyển khoản', CAST(N'2023-03-11T23:26:17.050' AS DateTime), 126000, 1, N'NV02', NULL)
SET IDENTITY_INSERT [dbo].[HOADON] OFF
GO
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([ID_KH], [HO], [TEN], [SDT], [NGAY_SINH]) VALUES (1, N'HỒ', N'ĐẠT', N'', CAST(N'2002-10-30' AS Date))
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
GO
SET IDENTITY_INSERT [dbo].[KHUYENMAI] ON 

INSERT [dbo].[KHUYENMAI] ([ID_KM], [NGAY_AP_DUNG], [NGAY_KET_THUC], [PHAN_TRAM_KM], [LI_DO_KM]) VALUES (1, CAST(N'2023-03-08' AS Date), CAST(N'2023-03-13' AS Date), 25, N'Ngày lễ')
SET IDENTITY_INSERT [dbo].[KHUYENMAI] OFF
GO
SET IDENTITY_INSERT [dbo].[LOAISP] ON 

INSERT [dbo].[LOAISP] ([ID_LOAI_SP], [TEN_LOAI_SP]) VALUES (2, N'CÀ PHÊ')
INSERT [dbo].[LOAISP] ([ID_LOAI_SP], [TEN_LOAI_SP]) VALUES (4, N'SINH TỐ')
INSERT [dbo].[LOAISP] ([ID_LOAI_SP], [TEN_LOAI_SP]) VALUES (3, N'SODA')
SET IDENTITY_INSERT [dbo].[LOAISP] OFF
GO
INSERT [dbo].[NHANVIEN] ([MA_NV], [HO], [TEN], [SDT], [DIA_CHI], [GIOI_TINH], [TEN_TAI_KHOAN]) VALUES (N'NV01', N'HỒ QUỐC', N'ĐẠT', N'0321497862', N'97 Man Thiện', N'Nam', N'admin')
INSERT [dbo].[NHANVIEN] ([MA_NV], [HO], [TEN], [SDT], [DIA_CHI], [GIOI_TINH], [TEN_TAI_KHOAN]) VALUES (N'NV02', N'NGÔ ĐỨC', N'THUẬN', N'', N'', N'Nam', N'thuan')
INSERT [dbo].[NHANVIEN] ([MA_NV], [HO], [TEN], [SDT], [DIA_CHI], [GIOI_TINH], [TEN_TAI_KHOAN]) VALUES (N'NV03', N'NGUYỄN CÔNG', N'LỰC', N'', N'', N'Nam', N'luc')
GO
SET IDENTITY_INSERT [dbo].[QUYEN] ON 

INSERT [dbo].[QUYEN] ([ID_QUYEN], [TEN_QUYEN]) VALUES (1, N'Nhân viên')
INSERT [dbo].[QUYEN] ([ID_QUYEN], [TEN_QUYEN]) VALUES (2, N'Quản lý')
SET IDENTITY_INSERT [dbo].[QUYEN] OFF
GO
SET IDENTITY_INSERT [dbo].[SANPHAM] ON 

INSERT [dbo].[SANPHAM] ([ID_SP], [TEN], [DON_VI_TINH], [ANH], [MO_TA], [ID_LOAI_SP]) VALUES (1, N'TRÀ SỮA TRÂN CHÂU ĐƯỜNG ĐEN', N'Ly', N'C:\Users\baam0\OneDrive\Documents\TS\TS_DD.jpg', N'', 1)
INSERT [dbo].[SANPHAM] ([ID_SP], [TEN], [DON_VI_TINH], [ANH], [MO_TA], [ID_LOAI_SP]) VALUES (2, N'HỒNG TRÀ SỮA', N'Ly', N'C:\Users\baam0\OneDrive\Documents\TS\H_TS.jpg', N'', 1)
INSERT [dbo].[SANPHAM] ([ID_SP], [TEN], [DON_VI_TINH], [ANH], [MO_TA], [ID_LOAI_SP]) VALUES (3, N'SODA CHANH', N'Ly', N'C:\Users\baam0\OneDrive\Documents\TS\SODA_CHANH.jpg', N'', 3)
SET IDENTITY_INSERT [dbo].[SANPHAM] OFF
GO
SET IDENTITY_INSERT [dbo].[SIZE] ON 

INSERT [dbo].[SIZE] ([ID_SIZE], [TEN_SIZE]) VALUES (2, N'L')
INSERT [dbo].[SIZE] ([ID_SIZE], [TEN_SIZE]) VALUES (1, N'M')
INSERT [dbo].[SIZE] ([ID_SIZE], [TEN_SIZE]) VALUES (3, N'XL')
SET IDENTITY_INSERT [dbo].[SIZE] OFF
GO
INSERT [dbo].[TAIKHOAN] ([TEN_TAI_KHOAN], [MAT_KHAU], [TRANG_THAI], [ID_QUYEN]) VALUES (N'admin', N'123456', 1, 2)
INSERT [dbo].[TAIKHOAN] ([TEN_TAI_KHOAN], [MAT_KHAU], [TRANG_THAI], [ID_QUYEN]) VALUES (N'luc', N'123', 1, 1)
INSERT [dbo].[TAIKHOAN] ([TEN_TAI_KHOAN], [MAT_KHAU], [TRANG_THAI], [ID_QUYEN]) VALUES (N'thuan', N'123', 1, 1)
GO
/****** Object:  Index [UK_TENBAN]    Script Date: 3/11/2023 11:32:06 PM ******/
ALTER TABLE [dbo].[BAN] ADD  CONSTRAINT [UK_TENBAN] UNIQUE NONCLUSTERED 
(
	[ID_BAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_TEN_LOAI]    Script Date: 3/11/2023 11:32:06 PM ******/
ALTER TABLE [dbo].[LOAISP] ADD  CONSTRAINT [UK_TEN_LOAI] UNIQUE NONCLUSTERED 
(
	[TEN_LOAI_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_TTK]    Script Date: 3/11/2023 11:32:06 PM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [UK_TTK] UNIQUE NONCLUSTERED 
(
	[TEN_TAI_KHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_TENQUYEN]    Script Date: 3/11/2023 11:32:06 PM ******/
ALTER TABLE [dbo].[QUYEN] ADD  CONSTRAINT [UK_TENQUYEN] UNIQUE NONCLUSTERED 
(
	[TEN_QUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_TEN_SP]    Script Date: 3/11/2023 11:32:06 PM ******/
ALTER TABLE [dbo].[SANPHAM] ADD  CONSTRAINT [UK_TEN_SP] UNIQUE NONCLUSTERED 
(
	[TEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_TENSIZE]    Script Date: 3/11/2023 11:32:06 PM ******/
ALTER TABLE [dbo].[SIZE] ADD  CONSTRAINT [UK_TENSIZE] UNIQUE NONCLUSTERED 
(
	[TEN_SIZE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BAN] ADD  CONSTRAINT [DF_BAN_NGAY_TAO]  DEFAULT (getdate()) FOR [NGAY_TAO]
GO
ALTER TABLE [dbo].[BAN] ADD  CONSTRAINT [DF_BAN_TRANG_THAI]  DEFAULT ((0)) FOR [TRANG_THAI]
GO
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [DF_HOADON_HINH_THUC_TT]  DEFAULT (N'Chuyển khoản') FOR [HINH_THUC_TT]
GO
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [DF_HOADON_NGAY_LAP]  DEFAULT (getdate()) FOR [NGAY_LAP]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [DF_NHANVIEN_GIOI_TINH]  DEFAULT (N'Nam') FOR [GIOI_TINH]
GO
ALTER TABLE [dbo].[SANPHAM] ADD  CONSTRAINT [DF_SANPHAM_DON_VI_TINH]  DEFAULT (N'Ly') FOR [DON_VI_TINH]
GO
ALTER TABLE [dbo].[TAIKHOAN] ADD  CONSTRAINT [DF_TAIKHOAN_TRANG_THAI]  DEFAULT ((1)) FOR [TRANG_THAI]
GO
ALTER TABLE [dbo].[CTBAN]  WITH CHECK ADD  CONSTRAINT [FK_CT_BAN_BAN] FOREIGN KEY([ID_BAN])
REFERENCES [dbo].[BAN] ([ID_BAN])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTBAN] CHECK CONSTRAINT [FK_CT_BAN_BAN]
GO
ALTER TABLE [dbo].[CTBAN]  WITH CHECK ADD  CONSTRAINT [FK_CT_BAN_HOADON] FOREIGN KEY([SO_HOA_DON])
REFERENCES [dbo].[HOADON] ([SO_HOA_DON])
GO
ALTER TABLE [dbo].[CTBAN] CHECK CONSTRAINT [FK_CT_BAN_HOADON]
GO
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHOADON_CTSP] FOREIGN KEY([ID_SP], [ID_SIZE])
REFERENCES [dbo].[CTSP] ([ID_SP], [ID_SIZE])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTHOADON] CHECK CONSTRAINT [FK_CTHOADON_CTSP]
GO
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHOADON_HOADON] FOREIGN KEY([SO_HOA_DON])
REFERENCES [dbo].[HOADON] ([SO_HOA_DON])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTHOADON] CHECK CONSTRAINT [FK_CTHOADON_HOADON]
GO
ALTER TABLE [dbo].[CTSP]  WITH CHECK ADD  CONSTRAINT [FK_CTSP_SANPHAM] FOREIGN KEY([ID_SP])
REFERENCES [dbo].[SANPHAM] ([ID_SP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTSP] CHECK CONSTRAINT [FK_CTSP_SANPHAM]
GO
ALTER TABLE [dbo].[CTSP]  WITH CHECK ADD  CONSTRAINT [FK_CTSP_SIZE] FOREIGN KEY([ID_SIZE])
REFERENCES [dbo].[SIZE] ([ID_SIZE])
GO
ALTER TABLE [dbo].[CTSP] CHECK CONSTRAINT [FK_CTSP_SIZE]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([ID_KH])
REFERENCES [dbo].[KHACHHANG] ([ID_KH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHUYENMAI] FOREIGN KEY([ID_KM])
REFERENCES [dbo].[KHUYENMAI] ([ID_KM])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHUYENMAI]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([MA_NV])
REFERENCES [dbo].[NHANVIEN] ([MA_NV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_TAIKHOAN] FOREIGN KEY([TEN_TAI_KHOAN])
REFERENCES [dbo].[TAIKHOAN] ([TEN_TAI_KHOAN])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_TAIKHOAN]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_LOAISP] FOREIGN KEY([ID_LOAI_SP])
REFERENCES [dbo].[LOAISP] ([ID_LOAI_SP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_LOAISP]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_QUYEN] FOREIGN KEY([ID_QUYEN])
REFERENCES [dbo].[QUYEN] ([ID_QUYEN])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_QUYEN]
GO
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD  CONSTRAINT [CK_GIACT] CHECK  (([GIA]>=(0)))
GO
ALTER TABLE [dbo].[CTHOADON] CHECK CONSTRAINT [CK_GIACT]
GO
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD  CONSTRAINT [CK_SOLUONG] CHECK  (([SO_LUONG]>(0)))
GO
ALTER TABLE [dbo].[CTHOADON] CHECK CONSTRAINT [CK_SOLUONG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [CK_HOADON] CHECK  (([THANH_TIEN]>=(0)))
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [CK_HOADON]
GO
ALTER TABLE [dbo].[KHUYENMAI]  WITH CHECK ADD  CONSTRAINT [CK_NGAY] CHECK  ((datediff(day,[NGAY_AP_DUNG],[NGAY_KET_THUC])>=(0)))
GO
ALTER TABLE [dbo].[KHUYENMAI] CHECK CONSTRAINT [CK_NGAY]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CK_GT] CHECK  (([GIOI_TINH]=N'NAM' OR [GIOI_TINH]=N'NỮ' OR [GIOI_TINH]=N'KHÁC'))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CK_GT]
GO
USE [master]
GO
